{% extends "base.html" %}
{% block conteudo %}
  <section class="cadastro-background">
  <div class="container py-5" style="max-width: 800px">
      <div class="bg-dark p-5 rounded-4 text-white" style="max-width: 1000px; width: 100%;">
      <h2 class="mb-4">Cadastro</h2>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputName4" class="form-label border-danger">Nome</label>
      <input type="text" class="form-control border-danger" aria-label="First name">
    </div>
    <div class="col-md-6">
      <label for="inputLastname4" class="form-label border-danger">Sobrenome</label>
      <input type="text" class="form-control border-danger" aria-label="Last name">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label border-danger">Email</label>
      <input type="email" class="form-control border-danger" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label border-danger">Senha</label>
      <input type="password" class="form-control border-danger" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label border-danger">Endereço</label>
      <input type="text" class="form-control border-danger" id="inputAddress" placeholder="Rua">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Concordo com os termos e condições
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-danger">Cadastrar</button>
    </div>
  </form>
  </div>
  </div>
  <img class="katchau" src="{{ url_for('static', filename='imagens/katchau.png') }}" alt="">
  </section>
{% endblock %}