{% extends "base.html" %}
{% block conteudo %}
  <div class="search-logo">
      <div class="text-center my-4">
        <h1>Catálogo de Carros</h1>
        <p>Encontre o carro perfeito para sua próxima viagem!</p>
      </div>
      </div>
  </div>
    <div class="px-3">
        <select class="filtro-carros form-select mx-auto" aria-label="Default select example">
        <option selected>Filtre os Carros</option>
        <option value="1">Populares</option>
        <option value="2">SUV</option>
        <option value="3">Caminhonetes</option>
        <option value="4">Esportivos</option>
        <option value="5">Luxo</option>
        <option value="6">Superesportivos de Luxo</option>
      </select>
    </div>
  
  <section class="categoria">
    <div style="display: flex; justify-content: flex-start;">
      <h2 class="ms-3 mt-4">Todos os carros</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 my-2 distancia-cards">
    {% for carro in carros %}
      <div class="col">
          <div class="card h-100 custom-card">
            <div class="card-imagem">
              <img src="{{ url_for('static', filename='imagens/' + carro['imagem']) }}" class="w-100" alt="{{ carro['marca'] }}">
            </div>
            <div class="card-body">
              <div class="mb-2">
                <h5 class="card-title">{{ carro['marca'] }}</h5>
                <p class="card-text">{{ carro['descricao'] }}</p>
              </div>
              <a href="#" class="btn btn-danger">Quero alugar</a>
            </div>
          </div>
        </div>
    {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
    
  </section>
{% endblock %}