{% extends "base.html" %}
{% block conteudo %}
  <div class="search-logo">
      <div class="text-center my-4">
        <h1>Catálogo de Carros</h1>
        <p>Encontre o carro perfeito para sua próxima viagem!</p>
      </div>
      </div>
  </div>
    <div class="px-3">
      <form action="/catalogo" method="GET">
        <select class="filtro-carros form-select mx-auto" name="categoria" onchange="this.form.submit()">
          <option selected>Filtre os Carros</option>
          <option value="Populares">Populares</option>
          <option value="SUV">SUV</option>
          <option value="Caminhonetes">Caminhonetes</option>
          <option value="Esportivos">Esportivos</option>
          <option value="Luxo">Luxo</option>
          <option value="Superesportivos de Luxo">Superesportivos de Luxo</option>
        </select>
      </form>
    </div>
  
  <section class="categoria">
    <div style="display: flex; justify-content: flex-start;">
      {% if carros %}
        <h2 class="ms-3 mt-4">Todos os carros</h2>
      {% else %}
        <h2 class="ms-3 mt-4">Nenhum carro encontrado...</h2>
      {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 mb-5 distancia-cards">
    {% for carro in carros %}
      <div class="col">
          <div class="card h-100 custom-card">
            <div class="card-imagem">
              <img src="{{ url_for('static', filename='imagens/' + carro['imagem']) }}" class="w-100" alt="{{ carro['marca'] }}">
            </div>
            <div class="card-body">
              <div class="mb-2">
                <h5 class="card-title">{{ carro['marca'] }}</h5>
                <p class="card-text">{{ carro['descricao'] }}</p>
              </div>
              <a href="#" class="btn btn-danger">Quero alugar</a>
            </div>
          </div>
        </div>
    {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
    
  </section>
{% endblock %}