{% extends "base.html" %}
{% block conteudo %}
    <!-- carousel banner -->
    <div id="carouselPrincipal" class="carousel slide" data-bs-ride="carouselPrincipal">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPrincipal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPrincipal" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPrincipal" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='imagens/argo-removebg-preview.png') }}" class="d-block w-100" alt="Fiat Argo">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='imagens/argo-removebg-preview.png') }}" class="d-block w-100" alt="Chevrolet Tracker">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='imagens/imagem_2026-04-15_123426422-removebg-preview.png') }}" class="d-block w-100" alt="Ford Focus ST-Line X">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPrincipal" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPrincipal" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <img class="katchau" src="{{ url_for('static', filename='imagens/katchau.png') }}" alt="">
    </div>

    <!-- alugar carros -->
    <div class="row row-cols-1 row-cols-md-4 g-4 my-2 distancia-cards">
      <!--- mensagens de erro -->
      {% if request.args.get('erro') == 'ja_alugado' %}
        <p class="mensagem text-danger border border-danger bg-dark p-3 rounded">Você já possui um carro alugado</p>
      {% elif request.args.get('erro') == 'indisponivel' %}
        <p class="mensagem text-danger border border-danger bg-dark p-3 rounded">Esse carro não está disponível</p>
      {% elif request.args.get('erro') == 'login' %}
        <p class="mensagem text-danger border border-danger bg-dark p-3 rounded">Você precisa estar logado</p>
      {% elif request.args.get('sucesso') == 'alugado' %}
        <p class="mensagem text-success border border-success bg-dark p-3 roundeds">Carro alugado com sucesso</p>
      {% endif %}
      {% for carro in carros %}
        {% if loop.index <= 4 %}
        <div class="col">
          <div class="card h-100 custom-card">
            <div class="card-imagem">
              <img src="{{ url_for('static', filename='imagens/' + carro['imagem']) }}" class="w-100" alt="{{ carro['marca'] }}">
            </div>
            <div class="card-body">
              <div class="mb-2">
                <h5 class="card-title">{{ carro['marca'] }}</h5>
                <p class="card-text">{{ carro['descricao'] }}</p>
              </div>
              <a href="/alugar/{{ carro['id'] }}" class="btn btn-danger">Quero alugar</a>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-4 mb-5">
      <a href="/catalogo" class="btn btn-danger">Exibir todos</a>
    </div>

    <!-- carousel localizações -->
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner custom-carousel">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='imagens/sp.png') }}" class="d-block w-100" alt="São Paulo">
          <div class="carousel-caption d-none d-md-block">
            <h5>São Paulo</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='imagens/Shopping_Granja_Vianna.jpg') }}" class="d-block w-100" alt="Granja Viana">
          <div class="carousel-caption d-none d-md-block">
            <h5>Granja Viana</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='imagens/osasco-lilas.jpg') }}" class="d-block w-100" alt="Osasco">
          <div class="carousel-caption d-none d-md-block">
            <h5>Osasco</h5>
          </div>
        </div>
            <div class="carousel-item">
          <img src="{{ url_for('static', filename='imagens/alphavile.jpg') }}" class="d-block w-100" alt="Alphaville">
          <div class="carousel-caption d-none d-md-block">
            <h5>Alphaville</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
{% endblock %}